<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RestoranReservationApp</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>servlets.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccServlet</display-name>
    <servlet-name>UserAccServlet</servlet-name>
    <servlet-class>servlets.UserAccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccServlet</servlet-name>
    <url-pattern>/UserAccServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendServlet</display-name>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>servlets.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/FriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestoranServlet</display-name>
    <servlet-name>RestoranServlet</servlet-name>
    <servlet-class>servlets.RestoranServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestoranServlet</servlet-name>
    <url-pattern>/RestoranServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestoranMenadzerServlet</display-name>
    <servlet-name>RestoranMenadzerServlet</servlet-name>
    <servlet-class>servlets.RestoranMenadzerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestoranMenadzerServlet</servlet-name>
    <url-pattern>/RestoranMenadzerServlet</url-pattern>
  </servlet-mapping>
</web-app>